/* correct me if i am wrong but i believe that these cool words that i am currently typing are called comments! */

.title {
  background-color: orange;
  border-style:double;
  border-color: darkorange;
  border-width: thick;
  border-radius: 50px;
}

#fname {
  background-color: #e8e;
}

* {
  background-color: lightgray;
}

p {
  background-color: #ff0000;
  font-size: 0.1in;
  line-height: 2em;
}

a[target=_blank] {
  background-color: hsl(182,100%,50%);
  font-size: 10mm;
  line-height: 2em;
}

p:hover {
  background-color: yellow;
}

h1,h2,h3,h4 {
  border: hsla(247,100%,50%,0.5) 2px solid;
}

div header {
  text-align: center;
  color: chocolate;
  font-size: 3ch;
}

ul > li {
  background-color: rgb(14,188,71);
}

img ~ figcaption {
  background-color: deeppink;
  font-size: 2rem;
}

label + input {
  background-color: greenyellow;
  margin: 100px,25px,100px,25px;
  padding: 100px,25px,100px,25px;
  width: 80%;
  height: 50px;
}

div.title {
  background-color: rgba(231,99,71,0.5);
  margin: auto;
}

pre {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}




