/* correct me if i am wrong but i believe that these cool words that i am currently typing are called comments! */

.title {
  background-color: orange;
}

#fname {
  background-color: #e8e;
}

* {
  background-color: lightgray;
}

p {
  background-color: #ff0000;
}

a[target=_blank] {
  background-color: hsl(182,100%,50%);
}

p:hover {
  background-color: yellow;
}

h1,h2,h3,h4 {
  border: hsla(247,100%,50%,0.5) 2px solid;
}

div header {
  text-align: center;
  color: chocolate;
}

ul > li {
  background-color: rgb(14,188,71);
}

img ~ figcaption {
  background-color: deeppink;
}

label + input {
  background-color: greenyellow;
}

div.title {
  background-color: rgba(231,99,71,0.5);
}




